{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="margin-left: 30px;">MP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('players')}}">Jogadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('cadPlayers')}}">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('apiMagic')}}">API Cards</a>
        </li>
      </ul>
    </div>
  </nav>

  <br>

  <div class="container" style="background-color: darkgray; border-radius: 8px;">
    <div class="row">
      {% for c in cardsjs %}
      <div class="col-md-3 m-auto">
        <div class="card" style="width: 16rem;">
          <img src="{{c.imageUrl}}" alt="{{c.name}}">
          <div class="card-body">
            <h5>{{c.name}}</h5>
            <h5>{{c.type}}</h5>
            <h5>{{c.color}}</h5>
            <!-- <a href="url_for{{'apiMagic', id=c.multiverseid}}" class="btn btn-dark">+Info</a> -->
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}