  {% extends 'base.html' %}

{% block content %}

<div class="container" style="background-color: #f0f0f0; border-radius: 8px;">
    <div class="row">
        {% for g in gamesjs %}
        <div class="col-md-3 m-auto">
            <div class="card" style="width: 16rem;">
                <img src="{{g.thumbnail}}" alt="{{g.title}}">
                <div class="card-body">
                    <h5>{{g.title}}</h5>
                    <h5>{{g.genre}}</h5>
                    <h5>{{g.platform}}</h5>
                    <a href="{{url_for('apigames', id=g.id)}}" class="btn btn-dark">+Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}