{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">The Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('game')}}">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('cadgames')}}">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('apigames')}}">API</a>
        </li>
      </ul>
    </div>
  </nav>

    <h1>Nesta casa odiamos jogadores de Mono Blue Control</h1>
    <p>Adendo, também odiamos elfos</p>
    <hr>
    <!-- <a href="/games">Click Jogos</a> -->
     <!-- <a href="{{url_for('game')}}">Click Jogos</a> -->
     <img src="{{url_for('static', filename='images/main.jpg')}}" alt="The Games">
{% endblock content %}